<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.mapper.SysUserMapper">
    <select id="getList" parameterType="goodsType" resultType="goodsType">
        select * from goods_type
        <where>
            <if test="state>0">
                state = # {state }
            </if>
            <if test="id != null and id!=''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like '%${name}%'
            </if>
        </where>
    </select>

    <insert id="add" parameterType="goodsType">
        insert into goods_Type(name) value (#{name})
    </insert>

    <update id="update" parameterType="goodsType">
        update goods_type set name=#{name} where id=#{id}
    </update>
</mapper>

